
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img src="assets/img/requestbgimg.png">
                    </div>
                    <div class="col-lg-7 bg-danger1 text-white">
                        <div class="p-5">
                            <img src="assets/img/QBrainX-white.png">
                            <br>
                            <div class="container mt-3">
                                <div class="mb-3 mt-3">
                                  <input type="text" class="form-control required" id="uname" placeholder="User Name*" name="uname">
                                  <div class="valid-feedback">Valid.</div>
                              </div>
                              <br>
                              <div class="mb-3 mt-3">
                                  
                                  <input type="password" class="form-control" required="" id="password" placeholder="Password*">
                                  <div class="valid-feedback">Valid.</div>
                              </div> 
                              <br>
                              <a (click)="login()" class="btn btn-danger1 text-white btn-user btn-block border border-white">
                                LOGIN
                            </a>  
                    </div>
                </div>
            </div>
        </div>

    </div>

    





































