<ng-container [ngTemplateOutlet]="first" *ngIf="step === 1" ></ng-container>
<ng-container [ngTemplateOutlet]="second" *ngIf="step === 2" ></ng-container>
<ng-container [ngTemplateOutlet]="third" *ngIf="step === 3" ></ng-container>
<ng-container [ngTemplateOutlet]="fourth" *ngIf="step === 4" ></ng-container>
<ng-container [ngTemplateOutlet]="fifth" *ngIf="step === 5" ></ng-container>
<ng-container [ngTemplateOutlet]="sixth" *ngIf="step === 6" ></ng-container>
<ng-container [ngTemplateOutlet]="seventh" *ngIf="step === 7" ></ng-container>
<ng-container [ngTemplateOutlet]="eighth" *ngIf="step === 8" ></ng-container>
<ng-container [ngTemplateOutlet]="nineth" *ngIf="step === 9" ></ng-container>
<ng-container [ngTemplateOutlet]="tenth" *ngIf="step === 10" ></ng-container>
<ng-container [ngTemplateOutlet]="eleventh" *ngIf="step === 11" ></ng-container>
<ng-container [ngTemplateOutlet]="twelveth" *ngIf="step === 12" ></ng-container>
<ng-container [ngTemplateOutlet]="thirteen" *ngIf="step === 13" ></ng-container>
<ng-container [ngTemplateOutlet]="fourteen" *ngIf="step === 14" ></ng-container>
<ng-container [ngTemplateOutlet]="fifteen" *ngIf="step === 15" ></ng-container>
<ng-container [ngTemplateOutlet]="sixteen" *ngIf="step === 16" ></ng-container>
<ng-container [ngTemplateOutlet]="seventeen" *ngIf="step === 17" ></ng-container>
<ng-container [ngTemplateOutlet]="eighteen" *ngIf="step === 18" ></ng-container>
<ng-container [ngTemplateOutlet]="nineteen" *ngIf="step === 19" ></ng-container>
<ng-container [ngTemplateOutlet]="twenty" *ngIf="step === 20" ></ng-container>
<ng-container [ngTemplateOutlet]="t1" *ngIf="step === 21" ></ng-container>
<ng-container [ngTemplateOutlet]="t2" *ngIf="step === 22" ></ng-container>
<ng-container [ngTemplateOutlet]="t3" *ngIf="step === 23" ></ng-container>
<ng-container [ngTemplateOutlet]="t4" *ngIf="step === 24" ></ng-container>
<ng-container [ngTemplateOutlet]="t5" *ngIf="step === 25" ></ng-container>









<ng-template #first>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">1. Which of the following options leads to the portability and Security of Java?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Bytecode is executed by JVM</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. The applet makes the java code secure and portable</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Use of exception handling</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Dynamic binding between objects</button>
                          </div>
                        </div>


                    </div>
                   
               

       

    <button type="button" (click)="next(2)">Next</button>
</form>
</ng-template>

<ng-template #second>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">2. When is the object created with new keyword?</div>
                        </div>
                       
                        <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. At run time</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. At compile time</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Depends on the code</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None</button>
                              </div>
                            </div>
                       
             </div>
                

       

    <button type="button" (click)="next(3)">Next</button>
</form>
</ng-template>

<ng-template #third>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">3. Which of the following exception is thrown when divided by zero statement is executed?</div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. NullPointerException</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. NumberFormatException</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Arithmetic Expression</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None</button>
                              </div>
                            </div>
                       
</div>







                        

       

    <button type="button" (click)="next(4)">Next</button>
</form>
</ng-template>

<ng-template #fourth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">4. Which of the following is used to find and fix bugs in the program?</div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. JDK</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. JRE</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. JVM</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. JDB</button>
                              </div>
                            </div>
                       
</div>













    
      <button type="button" (click)="next(5)">Next</button>
    </form>
</ng-template>

<ng-template #fifth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">5. What is the variables declared in a class for the use of all methods of the class called?</div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Object</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Instance Variables</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Reference Variable</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None</button>
                              </div>
                            </div>
















                          </div>


                       
      <button type="button" (click)="next(6)">Next</button>
    </form>
</ng-template>

<ng-template #sixth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">6. Java method signature is a combination of </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Return type</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Method name</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Argument List</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. All the above</button>
                              </div>
                            </div>









                    </div>
               


      <button type="button" (click)="next(7)">Next</button>
    </form>
</ng-template>


<ng-template #seventh>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">7. In Java, local variables are stored in __ memory and instance variables are stored in ___ memory</div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Stack, Stack</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Heap, Heap</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Stack, Heap</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Heap, Stack</button>
                              </div>
                            </div>
                    </div>
               


















    
                  
               


      <button type="button" (click)="next(8)">Next</button>
    </form>
</ng-template>

<ng-template #eighth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card" style= "width: 900px; height: 60px;">
                          <div class="card-body">8. A Java method is comparable to a __ in c language</div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. structure</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. union</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. function</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. enum</button>
                              </div>
                            </div>
                    </div>
               


















    
      <button type="button" (click)="next(9)">Next</button>
    </form>
</ng-template>

<ng-template #nineth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">9. In Java, you can pass __ variables from one constructor to another overloaded constructor</div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. local variables</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. static variables</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. non-static variables</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. local and static variables</button>
                              </div>
                            </div>
                    </div>
               




















                               


      <button type="button" (click)="next(10)">Next</button>
    </form>
</ng-template>

<ng-template #tenth>
    <form>
                    <div class="container">
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card">
                          <div class="card-body">10. In a Multi-Level Inheritance in Java, the last subclass inherits methods and properties of </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Only one immediate Superclass</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Few classes above it</button>
                              </div>
    
                              <div class="form-group form-check mb-2 pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. All classes above it</button>
                              </div>
    
                              <div class="form-group form-check pl-0">
                                <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None</button>
                              </div>
                            </div>
                    </div>
               



















    


      <button type="button" (click)="next(11)">Next</button>
    </form>
</ng-template>

<ng-template #eleventh>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">11.  Which of the below is not a Java Profiler?</div>
                        </div>
                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. JProfiler</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Eclipse Profiler</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. JVM</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. JConsole</button>
                          </div>
                        </div>


                    </div>
                   
               

       

    <button type="button" (click)="next(12)">Next</button>
</form>
</ng-template>

<ng-template #twelveth>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">12. Which of these packages contains the exception Stack Overflow in Java?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a.  java.io</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. java.system</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c.  java.lang</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. java.util</button>
                          </div>
                        </div>


                    </div>
                   
               

       

    <button type="button" (click)="next(13)">Next</button>
</form>
</ng-template>

<ng-template #thirteen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">13. Which of the following is true about servlets?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Servlets can use the full functionality of the Java class libraries</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Servlets execute within the address space of web server, platform independent and uses the functionality of java class libraries</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Servlets execute within the address space of web server</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Servlets are platform-independent because they are written in java</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(14)">Next</button>
</form>
</ng-template>

<ng-template #fourteen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">14. Which of the following is true about servlets?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Servlets can use the full functionality of the Java class libraries</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Servlets execute within the address space of web server, platform independent and uses the functionality of java class libraries</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Servlets execute within the address space of web server</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Servlets are platform-independent because they are written in java</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(15)">Next</button>
</form>
</ng-template>

<ng-template #fifteen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">15. Which of these functions is called to display the output of an applet?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. display()</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. paint()</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. displayApplet()</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. PrintApplet()</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(16)">Next</button>
</form>
</ng-template>

<ng-template #sixteen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">16. What is it called if an object has its own lifecycle and there is no owner?  </div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Aggregation</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Composition</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Encapsulation</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Association</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(17)">Next</button>
</form>
</ng-template>

<ng-template #seventeen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">17. Which of these method returns an instance of DateFormat that can format time information?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. getTime()</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. getTimeInstance()</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. getTimeDateinstance()</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. getDateFormatinstance()</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(18)">Next</button>
</form>
</ng-template>

<ng-template #eighteen>
    <form>
                    <div class="container">
                        
                        <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                        <div class="card mb-4">
                          <div class="card-body">18. Which component is responsible to optimize bytecode to machine code?</div>
                        </div>


                        <div class="col-md-12">
                        <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. JVM</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. JDK</button>
                          </div>

                          <div class="form-group form-check mb-2 pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. JIT</button>
                          </div>

                          <div class="form-group form-check pl-0">
                            <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. JRE</button>
                          </div>
                        </div>


                    </div>


    <button type="button" (click)="next(19)">Next</button>
</form>
</ng-template>

<ng-template #nineteen>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">19. Which environment variable is used to set the java path?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. MAVEN_Path</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. JavaPATH</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. JAVA</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. JAVA_HOME</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(20)">Next</button>
</form>
</ng-template>

<ng-template #twenty>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">20. What will be the error in the following Java code?<br>
                          byte b = 50;<br>
                          b = b * 50;</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. b cannot contain value 50</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. b cannot contain value 100, limited by its range</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. No error in this code</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. * operator has converted b * 50 into int, which can not be converted to byte without casting</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(21)">Next</button>
</form>
</ng-template>

<ng-template #t1>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">21. Which method of the Class.class is used to determine the name of a class represented by the class object as a String?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. getClass()</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. intern()</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. getName()</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. toString()</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(22)">Next</button>
</form>
</ng-template>

<ng-template #t2>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">22. Which package contains the Random class?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. java.util package</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. java.lang package</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. java.awt package</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. java.io package</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(23)">Next</button>
</form>
</ng-template>

<ng-template #t3>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">23. If three threads trying to share a single object at the same time, which condition will arise in this scenario?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Time-Lapse</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Critical situation</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Race condition</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. Recursion</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(24)">Next</button>
</form>
</ng-template>

<ng-template #t4>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">24. What is the default encoding for an OutputStreamWriter?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. UTF-8</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. Default encoding of the host platform</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. UTF-12</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None of the above</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(25)">Next</button>
</form>
</ng-template>

<ng-template #t5>
  <form>
                  <div class="container">
                      
                      <h2><span style="color:red">Java Multiple Choice Questions</span></h2>
                      <div class="card mb-4">
                        <div class="card-body">25. What do you mean by chained exceptions in Java?</div>
                      </div>


                      <div class="col-md-12">
                      <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">a. Exceptions occurred by the VirtualMachineError</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">b. An exception caused by other exceptions</button>
                        </div>

                        <div class="form-group form-check mb-2 pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">c. Exceptions occur in chains with discarding the debugging information</button>
                        </div>

                        <div class="form-group form-check pl-0">
                          <button type="submit" class="btn-lg btn-block btn btn-outline-danger text-left">d. None of the above</button>
                        </div>
                      </div>


                  </div>


  <button type="button" (click)="next(26)">Next</button>
</form>
</ng-template>


























